

 <!--header like  -->

<section class="bg-primary text-light p-5">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-none d-sm-block p-5">
        <h1 class="text-warning">
          Welcome to rating player website
        </h1>
        <p>Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Incidunt repudiandae magni cupiditate vero ab esse possimus assumenda asperiores, similique sit minima molestias necessitatibus ratione natus modi quidem. Quidem, maxime eligendi.</p>
      </div>
       <div class=" p-5">
        <img src="assets/images/logo.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>


<!-- show 4 players and ask for registration or login to see all  -->





<footer class="bg-dark p-4 text-primary  position-relative ">
      <div class="container">
        <div class="d-flex justify-content-between"> 
        <div class=" d-flex flex-row  ">
          <ul class="list-unstyled">
            <li>
              <p>phone Number:<span></span> +34 42022119 </p>
            </li>
             <li>
              <p>address : north  </p>
              <p>door : 3  </p>
            </li>
          </ul>
        </div>

         <div >
             <p class="lead">Copyright &copy; football
          </p>
          <div class="p-2">
            <a href="" class="mx-2"><i class="bi bi-instagram"></i></a>
            <a href=""class="mx-2"><i class="bi bi-twitter"></i></a>
            <a href="" class="mx-2"><i class="bi bi-facebook"></i></a>
            <a href=""class="mx-2"><i class="bi bi-linkedin"></i></a>
          </div>
          </div>
         </div>
      </div>
    </footer>
    









